@import '../../../sass/vars';

.welcome {
  max-width: 100rem;
  position: relative;
  transition: padding 0.3s, background-color 0.3s;

  &__title {
    text-align: center;
  }
  &__content {
    color: $color-light-grey;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5em;
  }

  &.subpage {
    margin: 6em auto 0;
    .welcome__title {
      text-align: left;
    }
  }
}

@media (min-width: 700px) {
  .welcome {
    &__text {
      width: 100%;
    }
    &.subpage {
      margin: 0 auto;
    }
  }
}
