@import '../../../../sass/vars.scss';

.reference {
  position: relative;
  font-size: $font-sm;
  &__text {
    display: inline;
    cursor: pointer;
    color: royalblue;
    font-weight: 400;
  }
  &__passage {
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 0;
    width: max-content;
    max-width: 30rem;
    text-align: justify;
    background: #f8f8dd;
    font-size: 1.4rem;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    box-shadow: $box-shadow;
    z-index: 30;
    h2 {
      font-size: $font-sm;
    }
    a {
      color: royalblue;
    }
    p {
      font-size: $font-xs;
      &:last-child {
        text-align: right;
      }
    }
  }
}
