.announcement {
  list-style: none;
  padding: 1em;
  margin-bottom: 0.5em;
  width: 90%;
  margin: 0 auto 0.5em;
  &:not(:last-child) {
    border-bottom: 1px solid rgba($color-black, 0.867);
  }
  &__schedule {
    font-size: $font-sm;
    display: flex;
    justify-content: space-around;
    min-width: 15rem;
  }
  &__content {
    font-size: $font-sm;
    padding: 0 2em;
    text-align: center;
    &--title {
      margin: 0;
      font-size: $font-tertiary-header-sm;
    }
  }
  &__actions {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .announcement {
    display: flex;
    align-items: center;
    &__schedule {
      display: block;
      text-align: center;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: justify;
      flex-grow: 1;
      &--title {
        margin: 0.5em 0 0;
      }
    }
  }
}
