.shortcuts {
  margin: $margin-section-sm auto 0;
}

@media (min-width: 700px) {
  .shortcuts {
    width: 100%;
    margin: $margin-section-lg auto;
  }
}

@media (min-width: 900px) {
  .shortcuts {
    width: 90%;
  }
}
