$font-main: 'Roboto', sans-serif;
$font-quirky: 'Satisfy', cursive;

$font-main-header-sm: 2.5rem;
$font-main-header-md: 3rem;
$font-main-header-lg: 5rem;

$font-secondary-header-sm: 2.4rem;
$font-secondary-header-md: 2.8rem;
$font-secondary-header-lg: 4rem;

$font-tertiary-header-sm: 2rem;
$font-tertiary-header-md: 2.4rem;

$font-lg: 2.4rem;
$font-md: 2rem;
$font-sm: 1.6rem;
$font-xs: 1.4rem;

$color-basic: rgb(255, 255, 255);
$color-dark-grey: rgb(36, 36, 36);
$color-light-grey: rgb(99, 99, 99);
$color-black: rgb(0, 0, 0);
$color-violet-light: rgb(100, 92, 163);
$color-violet-dark: rgb(72, 55, 200);

$shadow: rgba(0, 0, 0, 0.5);
$box-shadow: 0 5px 10px $shadow;

$margin-section-sm: 3em;
$margin-section-lg: 5em;
