.links {
  padding: 0.5em 0 0 1.5em;
  position: relative;
  display: block;

  .link {
    padding: 0.25em 0;
  }
}

@media (min-width: 700px) {
  .links {
    position: absolute;
    width: max-content;
    &:not(&__dark) {
      @include m.blur(rgba($color-black, 0.6), 100rem);
    }
    &__dark {
      padding: 2em;
      background-color: $color-dark-grey;
    }
  }
}
