
html {
  font-size: 62.5%;
}

body {
  font-size: $font-sm;
  font-family: $font-main;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: $color-basic;
  &.btn {
    padding: 0.6em 1.2em;
  }
}

section {
  margin: 6em auto 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 3em auto 0;
}

h1 {
  font-size: $font-main-header-sm;
}

h2 {
  font-size: $font-secondary-header-sm;
  font-weight: 400;
}

h3 {
  font-size: $font-tertiary-header-sm;
  text-align: center;
}

.bold {
  color: $color-dark-grey;
  opacity: 0.85;
  font-weight: 700;
}
.center,
.align-right,
.boxes,
.jcc-aic {
  display: flex;
}

.center,
.jcc-aic {
  justify-content: center;
}

.jcc-aic {
  align-items: center;
}

.align-right {
  justify-content: flex-end;
}

.form-page {
  max-width: 60rem;
}

.boxes {
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor-text {
  a {
    color: #4169e1;
    transition: 0.2s text-decoration;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: $color-violet-dark;
    }
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: $font-main-header-md;
  }
  h2 {
    font-size: $font-secondary-header-md;
  }
  h3 {
    font-size: $font-tertiary-header-md;
  }

  .page {
    display: flex;
    justify-content: space-between;
  }
  .subpage {
    width: 65%;
  }
  .page-article {
    margin: 3em auto;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: $font-main-header-lg;
  }
  h2 {
    font-size: $font-secondary-header-lg;
  }
  h3 {
    font-size: $font-tertiary-header-sm;
  }
  .subpage {
    width: 70%;
  }
}
