@import '../../sass/vars.scss';

.member {
  max-width: 90rem;
  &__bio {
    font-size: $font-sm;
    text-align: justify;
    padding: 1em;
    h3 {
      text-align: left;
    }
  }
  &__contact {
    padding: 1em;
    h3 {
      text-align: left;
    }
    address {
      font-size: $font-sm;
    }
  }
  &__actions {
    padding: 1em;
    text-align: right;
  }
}
