@import '../../sass/vars.scss';

.member {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  &__info {
    h2 {
      font-size: font-secondary-header-sm;
      margin-bottom: 0;
    }
    h3 {
      margin-top: 0;
    }
  }
  &__bio {
    font-size: $font-sm;
    text-align: justify;
    padding: 1em;
    h3 {
      text-align: left;
    }
  }
  &__contact {
    padding: 1em;
    h3 {
      text-align: left;
    }
    address {
      font-size: $font-sm;
    }
  }
  &__actions {
    padding: 1em;
    text-align: right;
  }
}

@media (min-width: 600px) {
  .member {
    &__header {
      flex-direction: row;
      justify-content: center;
      gap: 3em;
    }
    &__info {
      border-bottom: 1px solid #000;
      h2,
      h3 {
        text-align: left;
      }
    }
  }
}

@media (min-width: 900px) {
  .member {
    max-width: 90rem;
    &__header {
      align-items: start;
      margin-bottom: 4em;
    }
    &__avatar {
      max-width: 15rem;
    }
    &__info {
      border-bottom: 1px solid #000;
      h2,
      h3 {
        text-align: left;
      }
    }
  }
}
