@import '../../../../sass/vars.scss';

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input,
  textarea,
  select {
    background-color: $color-basic;
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.25rem;
    border-color: rgba($color-violet-dark, 0.4);
  }
  label {
    font-size: $font-sm;
  }
  &__error {
    color: salmon;
  }
  &__subscript {
    display: flex;
    justify-content: space-between;
  }

  &__invalid {
    input,
    textarea,
    select {
      border-color: salmon;
    }
  }
  &__rules {
    input,
    textarea,
    select {
      margin-bottom: 0;
    }
    .input__subscript p {
      margin-top: .2em;
    }
  }
}
