@import '../../../../sass/vars.scss';

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input,
  textarea {
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.25rem;
    border-color: rgba($color-violet-dark, .4);
    
  }
}
