.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input,
  textarea,
  select {
    margin: 1em 0;
    border-radius: 0.25rem;
    border-color: rgba($color-violet-dark, 0.4);
    padding: 1em;
  }
  &__quill {
    margin: 1em 0;
    & > * {
      background-color: $color-basic;
    }
  }
  label {
    font-size: $font-md;
  }
  &__subscript {
    display: flex;
    justify-content: space-between;
  }

  &__rules {
    input,
    textarea,
    select {
      margin-bottom: 0;
    }
    .input__subscript p {
      margin-top: 0.2em;
    }
  }
}
